/actionscript/.actionScriptProperties
/actionscript/.flexLibProperties
/actionscript/.project
/actionscript/.settings/org.eclipse.core.resources.prefs
/android/.classpath
/android/.project
/android/.settings
/android/bin
/build/build.prop
